{
  "owner": "witnessname",
  "url": "https://hive.blog/witness-category/@witnessname/witness-application-link",
  "account_creation_fee": "0.100 HIVE",
  "maximum_block_size": 65536,
  "sbd_interest_rate": 0,
  "wif": "5xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "signing_pubkeys": [
    ["STMxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", "location or comment 1"],
    ["STMxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", "location or comment 2"],
    ["STMxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx", "location or comment 3"]
  ],
  "rpc_nodes": [
    "https://api.hive.blog",
    "https://anyx.io",
    "https://rpc.ausbit.dev"
  ]
}
